{% extends 'base.html' %}

{% block _content %}

<style>
    body{
        background-color: rgba(2, 72, 100, 0.74);
    }
</style>

<section class="container mt-5 text-dark py-2" style="background-color:rgba(255, 255, 255, 0.164);box-shadow: hsl(0, 0%, 0%) 0px 0px 20px 5px;border-radius: 10px;">
    <h1 class="text-center">Registrasi Admin</h1>
    <form action="{{ url_for('register') }}" method="POST" class="font-weight-bold">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" placeholder="Username" id="username" name="username", required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="Email" id="email" name="email", required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Password" id="password" name="password", required>
        </div>
        <div class="mb-3">
            <label for="nomor" class="form-label">No. HP</label>
            <input type="text" class="form-control" placeholder="+62" id="nomor" name="nomor", required>
        </div>
        <button type="daftar" class="btn btn-dark">Daftar</button>
    </form>
</section>

{% endblock %}